*.pyc
.bzr
.bzrignore
.directory
server/openerp-server.conf
.settings
.metadata
.project
.pydevproject
.svn
.kateproject
.kateproject.d
jasperserver*.log
jasperserver.log*
iReport-5.1.0*
report.properties
openerp-jasper.pid
conf-openerp-6.1.conf
.kate-swp
report.properties
integra/reports/compras
integra/reports/estoque
integra/reports/finan
integra/reports/frota
integra/reports/orcamentos
integra/reports/rh
integra/reports/leilao_marilda
integra_extra/jasper_reports/custom_reports
integra_extra/jasper_reports/custom_reports/*.j*
